<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyy-MM-dd HH\:mm\:ss,GMT+8} %p %t - %m%n</pattern>
            <!--<pattern>%d{yyyy-MM-dd HH\:mm\:ss,SSS} [%thread] %-5level %logger{36} - %caller &#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45; %msg%throwable &#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;%n</pattern>-->
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <root>
        <level value="${logLevel}" />
        <appender-ref ref="STDOUT" />
    </root>
</configuration>